.cartitems{
    margin: 10px 20px;
}
.cartitems hr{
    height: 3px;
    background-color: #f5f5f5;
    border:0;
}
.cartitems-fomat-main{
    display:grid;
    grid-template-columns:0.5fr 3fr 1fr 1fr 1fr 1fr;
    gap:75px;
    padding: 20px 0px;
    color: gray;
    align-items: center;
}
.cartitems-fomat{
    font-weight: 500;
}
.cartitems-fomat-img img{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
.cartitems-fomat-quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartitems-fomat-quantity button{
    background-color: #51acf3;
    align-items: center;
    border:0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.cartitems-fomat-quantity input{
    width: 30px;
    height: 30px;
    border:0;
    border-radius: 5px;
    text-align: center;
}
.cartitems-fomat-remove button{
    background-color: #e74141;
    border:0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.cartitems-down{
    display: flex;
    border: 1px solid #a6a2a2;
    border-radius: 5px;
    padding: 10px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding-right: 20px;
    gap: 40px;
    border-right: 1px solid #a6a2a2;
}
.cartitems-total h1{
    margin: 10px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
}
.cartitems-total-item p{
    margin: 10px;
}
.cartitems-total-item h3{
    margin: 10px;
}
.cartitems-total button{
    width: 250px;
    height: 50px;
    background-color: #4597d5;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
}
.cartitems-promocode{
    flex: 1;
}
.cartitems-promocode p{
    color: gray;
}
.cartitem-promobox{
    width: 500px;
    margin-top: 15px;
    background: #f5f5f5;
    align-items: center;
}
.cartitem-promobox input{
    height: 50px;
    border:0;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
}
.cartitem-promobox button{
    width: 100px;
    height: 50px;
    background-color: #4597d5;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}