.navbar{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow:0 1px 3px black;   
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__logo img{
    max-width: 50px;
    max-height: 50px;
}
.navbar__logo h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
}
.navbar__links{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: gray;
    font-size: 1rem;
    font-weight: 500   ;
}

.navbar__links li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar__links li a{
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    font-weight: 500   ;
}
.navbar__links hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rosybrown;
    padding: 0;
    margin: 0;
}

.navbar__search{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    margin: auto 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
}
.navbar__search input{
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar__search button{
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
}
.navbar__cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__cart img{
    max-width: 30px;
    max-height: 30px;
}
.navbar__cart .navbar_cart_count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -15px;
    border-radius: 11px;
    background-color: red;
    color: white;

}

.navbar__user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__user button{
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background: none;
}
